/// This variable are meant to be replaced

// Colors
light = whitesmoke
lighter = lighten(light, 10)
lightish = darken(light, 10)
dark = #102030
darkish = lighten(dark, 10%)
darker = darken(dark, 10%)
primary = indianred
secondary = cornflowerblue
info		= slategrey
success		= cornflowerblue
error		= crimson
warning		= goldenrod