.pop-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: var(--pop-wrapper-z-index, 9999);

	pointer-events: none;

	.pop-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;

		background-color: transparent;
		
		pointer-events: all;
	}

	.pop-content {
		position: relative;
		z-index: 2;

		padding: 1em;

		pointer-events: all;
	}
}